.container_formulario {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  min-height: 60vh;
}

.container_formulario_titulo {
  font-size: 48px;
  font-family: "Roboto Mono", monospace;
  color: #232237;
}

.formulario {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.formulario_div {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.formulario_div input {
  background-color: transparent;
  border: 2px solid #120907;
  padding: 10px;
  border-radius: 8px;
  outline: none;
}

.formulario_div label {
  font-size: 24px;
  margin-left: 3px;
}

.formulario_botao {
  background-color: #232237;
  color: #dbd6ed;
  padding: 10px;
  border-radius: 8px;
  font-size: 24px;
  cursor: pointer;
  border: none;
  margin-top: 10px;
  transition: 0.1s ease-in-out;
}

.formulario_botao:hover {
  background-color: #dbd6ed;
  color: #232237;
  border: 2px solid #232237;
}
